<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <button class="btn btn-primary">
                    <a routerLink="from-event">From Event</a>
                </button>
            </li>
            <li>
                <button class="btn btn-primary">
                    <a routerLink="from-event">From Event</a>
                </button>
            </li>
            <li>
                <button class="btn btn-primary">
                    <a routerLink="from-event">From Event</a>
                </button>
            </li>
            <li>
                <button class="btn btn-primary">
                    <a routerLink="from-event">From Event</a>
                </button>
            </li>
            <li>
                <button class="btn btn-primary">
                    <a routerLink="from-event">From Event</a>
                </button>
            </li>
            <li>
                <button class="btn btn-primary">
                    <a routerLink="from-event">From Event</a>
                </button>
            </li>

        </ul>
    </div>
</div>