nav {
    display: flex;
    justify-content: space-around;
    background-color: pink;

    ul {
        display: flex;
        gap: 10px;
        list-style-type: none;
        align-items: end;

        a {
            text-decoration: none;
            color: red;
            font-size: larger;
        }


    }
}